:root {
  --sidebar-main: rgba(55, 56, 62, 1);
  --sidebar-dark: rgba(21, 21, 21, 1);
  --sidebar-button: white;
  --sidebar-light: rgba(255, 255, 255, 1);
  --sidebar-hover: crimson;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}

/* sidebar */

.sidebar .button {
  border: 0;
  background-color: unset;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  /* vertical-align: ; */
}

/* sidebar button */

.sidebar .sidebar-button {
  position: fixed;
  top: 7px;
  /* left: 0px; */
  transition-delay: 10ms;
  transition-duration: 180ms;

  z-index: 99;
}

.sidebar .sidebar-button button span {
  color: #ffe764;
  animation-name: rgb-button;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.sidebar.open .sidebar-button {
  left: 270px;
  transition-duration: 180ms;
}

.sidebar .sidebar-button span {
  font-size: 27.5px;
  color: var(--sidebar-button);
}

/* sidebar body */

.sidebar .sidebar-body {
  visibility: collapse;
  position: fixed;
  top: 0;
  width: 0.01px;
  min-height: 100%;

  display: flex;
  flex-direction: column;

  transition-duration: 180ms;
  z-index: 1;
}

.sidebar.open .sidebar-body {
  visibility: visible;
  /* width: 50vh; */
  width: 320px;
  box-shadow: -2px 0px 4px;
}

/* sidebar header */

.sidebar .menu-header {
  background-color: var(--sidebar-main);
  opacity: 0;
  padding: 2px;

  transition-duration: 40ms;
}

.sidebar.open .menu-header {
  opacity: 1;
  transition-duration: 240ms;
}

.sidebar .brand {
  margin: 0;
}

.sidebar .brand button {
  text-transform: uppercase;
}

.sidebar .menu-header span {
  font-size: 25px;
}

.sidebar .brand span:nth-child(1) {
  margin: 0 16px;
}

.sidebar .brand span:nth-child(2) {
  position: relative;
  top: 1px;
}

/* sidebar menu */

.sidebar .menu-nav {
  opacity: 0;
  margin-bottom: auto;
}

.sidebar.open .menu-nav {
  opacity: 1;
  transition-delay: 30ms;
  transition-duration: 800ms;
}

.sidebar .menu-nav ul {
  /* margin-top: 4vh; */
  margin-top: 24px;
  display: flex;
  flex-direction: column;

  list-style: none;
  padding: 0;
}

.sidebar .menu-nav-item .button {
  /* padding: 2vh; */
  padding: 12px;
  justify-content: start;
  width: 100%;
}

.menu-nav-icon {
  /* width: 5vh; */
  width: 30px;
  /* margin-left: 1vh; */
  margin-left: 10px;
}

.menu-nav-text {
  /* margin-left: 3vh; */
  margin-left: 18px;
  text-transform: uppercase;
}

.sidebar .menu-nav-item span {
  /* font-size: 3vh; */
  font-size: 20px;
}

/* footer */

.sidebar .sidebar-hr {
  /* margin-bottom: 2vh; */
  margin-bottom: 10px;

  color: var(--sidebar-main);
}

.sidebar .menu-footer {
  opacity: 0;
  transition-duration: 40ms;
  display: flex;
  justify-content: center;
}

.sidebar.open .menu-footer {
  opacity: 1;
  transition-delay: 140ms;
  transition-duration: 400ms;
}

.sidebar .menu-footer span {
  text-transform: uppercase;
  /* font-size: 3vh; */
  font-size: 20px;
}

.sidebar .menu-footer input {
  height: 15px;
  width: 15px;
}

/* theme */

.dark-mode {
  background-color: var(--sidebar-dark);
}

.light-mode {
  background-color: var(--sidebar-light);
}

.sidebar #theme[class*="dark-mode"] span {
  color: white;
}
.sidebar #theme[class*="light-mode"] span {
  color: black;
}

.sidebar #theme button:hover span[class*="menu-nav-text"] {
  /* background-color: aqua; */
  color: var(--sidebar-hover);
  transition-duration: 200ms;
}

@keyframes rgb-button {
  0% {
    color: rgba(255, 255, 255, 0.1);
  }

  100% {
    color: #ffe764;
  }
}

/* responsive */

@media only screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  body {
    width: 100vw;
    background-color: black;
  }
}
